
.icon-ok:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-del:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-find:before { content: '\e805'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */