.btn-abc {
  float: right;
}
.btn-abc button {
  padding-left: 2px;
  padding-right: 2px;
  float: left;
  margin-left: 2px;
}
.lft {
  float: left;
  margin-right: 4px;
}
.find .form-control {
  width: auto;
}
.find-num {
  float: left;
}
.find-num .form-control{
  width: 1em;
  float: left;
  margin-right: 2px;
  padding-left: 1px;
  padding-right: 1px;
}
.dv {
  margin-right: 6px !important;
}
.card {
  -webkit-box-shadow: 8px 8px 9px -2px rgba(0,0,0,0.65); 
  box-shadow: 8px 8px 9px -2px rgba(0,0,0,0.65);
  margin-top: 2px;
  display: block;
  width: 300px;
  float: left;
  margin-right: 4px;
}
.ava {
  width: 70px;
  height: 70px;
  float: left;
  background-color: red;
  position: relative;
}
.card h1, .card h2 {
  float: left;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-left: 0.5em;
}
.clr {
  clear: both;
}
.card h1 {
  min-width: 200px;
  padding-top: 0.3em;
}
.card h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}
.bt-edt {
  visibility: hidden;
  position: absolute;
  top: 0;
}
.ava:hover .bt-edt {
  visibility: visible;
}
.ava img {
  width: 70px;
  height: 70px;
}
.cntr {
  text-align: center;
}
.rht {
  float: right;
}
.ava-edit {
  width: 70px;
  height: 70px;
}